@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --blue: #6aa7b9;
  --orange: #e8a999;
  --dark-blue: #0a1821;
  --shadow-orange: #e2b5ab;
  --button-color: #b1c9a8;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    var(--blue),
    var(--orange),
    var(--dark-blue)
  );
}
.content {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.background {
  background-image: url("willian-justen-de-vasconcellos-fv51Kmmng3A-unsplash.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
}

.odinImg{
    margin: 5% auto;
    height: 30%;
}

.formBox {
  margin: 10% auto;
}

.headerText {
  font-size: 1.5rem;
  font-weight: 500;
}

p.headerText {
  margin-left: 10%;
}

.form {
  box-shadow: 0 3px 3px var(--shadow-orange), 0 -1px 1px var(--shadow-orange);
}

.formContent {
  display: flex;
  flex-flow: row wrap;
  gap: 10%;
  padding: 20px 0;
  margin: 0 10%;
}
.formHeading {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  text-transform: uppercase;
  color: #777777;
}

input {
  border: 1px solid #bdbdbd;
  border-radius: 0.5em;
}

input:focus {
    outline: 2px solid blue;
}

.createButton {
  margin: 2.5% 10%;
  height: 10%;
  width: 20%;
  font-size: 1.5rem;
  background-color: var(--button-color);
  padding: 0;
  border-radius: 1em;
}

.loginText {
  margin: 0 10%;
  font-size: 1.25rem;
  color: aliceblue;
}

.loginLink {
  margin: 0;
  color: var(--button-color);
}
